.button {
  display: inline-flex;
  justify-content: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }

  &--neutral {
    padding: 14px 20px;

    color: $color-charcoal;

    border: 2px solid $color-charcoal;

    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $color-white;

      background-color: $color-charcoal;
    }

    &:active {
      color: rgba($color-white, 0.3);

      background-color: $color-charcoal;
    }
  }

  &--bright {
    padding: 18px;

    color: $color-white;

    background-color: $color-downy;

    transition: opacity 0.3s, background-color 0.3s;

    &:hover {
      background-color: $color-puerto-rico;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
