.categories__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories__link {
  font-weight: 700;
  font-size: 19px;
  color: $color-white;
  text-decoration: none;

  &--interior {
    background-color: $color-downy;
  }

  &--toys {
    background-color: $color-puerto-rico;
  }
}
