.checkbox-input {
  display: grid;

  grid-template-columns: 38px 1fr;

  @media (min-width: $vp-768) {
    grid-template-columns: 52px 1fr;
  }
}

.checkbox-input__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin: 0;

  border: 2px solid $color-charcoal;
  cursor: pointer;

  appearance: none;

  @media (min-width: $vp-768) {
    width: 52px;
    height: 52px;
  }

  &:hover {
    border-color: $color-downy-2;
  }

  &:active {
    border-color: rgba($color-black, 0.3);
  }

  &:disabled {
    border-color: rgba($color-black, 0.3);
    opacity: 0.3;

    pointer-events: none;
  }

  &::after {
    content: "";

    display: none;
    width: 23px;
    height: 16px;

    background-image: url("../img/stack.svg#tick");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 16px;

    @media (min-width: $vp-768) {
      width: 32px;
      height: 22px;

      background-size: 32px 22px;
    }
  }
}

.checkbox-input__input:checked::after {
  display: block;
}

.checkbox-input__text {
  padding: 10px 0 0 23px;

  cursor: pointer;

  @media (min-width: $vp-768) {
    padding: 9px 0 0 29px;

    font-size: 19px;
    line-height: 30px;
  }
}

.checkbox-input__input:disabled + .checkbox-input__text {
  cursor: default;
  opacity: 0.3;
}
