.input {
  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;

    gap: 25px;
  }
}

.input__label {
  cursor: pointer;

  @media (min-width: $vp-768) {
    font-size: 19px;
    line-height: 30px;
  }
}

.input__input-wrapper {
  position: relative;

  margin: 0;

  @media (min-width: $vp-768) {
    display: flex;
    margin-top: 6px;
  }
}

.input__input {
  width: 100%;
  padding: 14px 0;

  font-size: 17px;
  line-height: 23px;
  font-family: inherit;
  color: $color-charcoal;

  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 0 $color-black;

  @media (min-width: $vp-768) {
    flex-grow: 1;
    width: auto;
    padding: 0 18px 12px;

    font-size: 19px;
    line-height: 30px;
  }

  ::placeholder {
    color: rgba($color-black, 0.3);

    opacity: 1;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 0 $color-downy-2;
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 -2px 0 0 $color-downy-2;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }

  .input--has-icon & {
    padding-right: 50px;
    padding-bottom: 16px;
  }
}

.input__icon {
  position: absolute;

  background-color: rgba($color-black, 0.2);

  mask-position: center;
  mask-repeat: no-repeat;

  .input--icon-tel & {
    top: 12px;
    right: 7px;

    width: 25px;
    height: 24px;

    mask-image: url("../img/stack.svg#phone");

    @media (min-width: $vp-768) {
      top: 5px;
      right: 26px;
    }

    @media (min-width: $vp-1150) {
      right: 8px;
    }
  }

  .input--icon-email & {
    top: 17px;
    right: 3px;

    width: 32px;
    height: 21px;

    mask-image: url("../img/stack.svg#mail");

    @media (min-width: $vp-768) {
      top: 10px;
      right: 22px;
    }

    @media (min-width: $vp-1150) {
      right: 4px;
    }
  }
}

.input__input:hover + .input__icon {
  background-color: $color-downy-2;
}

.input__input:focus-visible + .input__icon {
  background-color: $color-downy-2;
}

@supports not selector(:focus-visible) {
  .input__input:focus + .input__icon {
    background-color: $color-downy-2;
  }
}
