.main-header {
  position: relative;

  display: flex;
  justify-content: center;
  min-height: 79px;

  @media (min-width: $vp-768) {
    background-color: #fafafa;
    overflow: hidden;
  }
}

.main-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;

  display: flex;
  justify-content: center;
  width: 79px;
  height: 79px;
  padding-top: 32px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }

  &::before {
    content: "";

    width: 20px;
    height: 2px;

    background-color: $color-aubergine;
    box-shadow: 0 6px 0 $color-aubergine, 0 12px 0 $color-aubergine,;
  }

  .is-open & {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 38px;
      left: 25px;

      width: 26px;
      height: 2px;

      background-color: $color-black;
    }

    &::before {
      box-shadow: none;
      transform: rotate(44deg);
    }

    &::after {
      transform: rotate(-44deg);
    }
  }

  .no-js & {
    display: none;
  }
}

.main-header__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

  background-color: $color-white;
  box-shadow: inset 0 -1px 0 0 $color-whisper;

  @media (min-width: $vp-768) {
    position: relative;

    display: grid;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px;

    background-color: transparent;
    box-shadow: none;

    grid-template-columns: 46% 54%;
  }

  @media (min-width: $vp-1150) {
    gap: 15px 101px;
    grid-template-columns: 64% 31%;
  }

  .no-js & {
    position: relative;

    width: 100%;
  }
}

.main-header__nav {
  display: flex;
  flex-direction: column;
  padding-top: 22px;

  justify-items: center;

  @media (min-width: $vp-1150) {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0 20px;
  }
}

.main-header__logo {
  align-self: start;
  margin: 0 auto 17px;

  @media (min-width: $vp-768) {
    margin: 0 auto 17px 0;
  }

  @media (min-width: $vp-1150) {
    margin: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__nav-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;

    gap: 0 37px;
  }

  @media (min-width: $vp-1150) {
    order: -1;
    width: 430px;
  }

  .is-open &,
  .no-js & {
    display: block;

    @media (min-width: $vp-768) {
      display: flex;
    }
  }
}

.main-header__nav-link {
  position: relative;
  display: block;
  padding: 28px 30px 27px 76px;

  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  box-shadow: inset 0 1px 0 0 $color-whisper;

  @media (min-width: $vp-768) {
    padding: 20px 0;

    font-size: 15px;

    box-shadow: none;
  }

  @media (min-width: $vp-1150) {
    font-size: 17px;
  }

  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }

  &:focus-visible {
    z-index: 1;
  }
}

.main-header__additional-nav-list {
  display: none;

  @media (min-width: $vp-1150) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style-type: none;

    gap: 10px 45px;
  }
}

.main-header__additional-nav-link {
  font-weight: 700;
  font-size: 15px;
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.main-header__user-nav-wrapper {
  display: none;

  @media (min-width: $vp-768) {
    display: grid;
    align-content: start;

    gap: 20px;
  }

  .is-open &,
  .no-js & {
    display: block;

    @media (min-width: $vp-768) {
      display: grid;
    }
  }
}

.main-header__user-nav {
  @media (min-width: $vp-768) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 200vw;
      height: 100%;

      background-color: $color-white;
      box-shadow: 0 1px 0 0 rgba($color-black, 0.1);
      transform: translateX(-50%);
    }
  }
}

.main-header__user-nav-link {
  position: relative;

  display: block;
  padding: 28px 30px 27px 76px;

  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  box-shadow: inset 0 1px 0 0 $color-whisper;

  @media (min-width: $vp-768) {
    max-width: 265px;
    min-height: 88px;
    padding: 32px 0 32px 83px;

    font-size: 17px;
    line-height: 24px;
    text-align: right;
  }

  @media (min-width: $vp-1150) {
    max-width: 266px;
  }

  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }

  &:focus-visible {
    z-index: 1;
  }

  &--search {
    @media (min-width: $vp-768) {
      align-self: start;

      box-shadow: inset 1px 0 0 0 $color-whisper-e5, inset -1px 0 0 0 $color-whisper-e5;
    }

    &::before {
      mask-image: url("../img/stack.svg#search");
    }
  }

  &--cart {
    @media (min-width: $vp-768) {
      box-shadow: none;
    }

    &::before {
      mask-image: url("../img/stack.svg#cart");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 30px;

    width: 21px;
    height: 18px;
    background-color: rgba($color-black, 0.2);

    mask-repeat: no-repeat;
    mask-position: left;

    @media (min-width: $vp-768) {
      top: 36px;
      left: 31px;
    }
  }
}

.main-header__user-nav-link:hover::before {
  background-color: $color-downy;
}

.main-header__user-nav-link:active::before {
  opacity: 0.3;
}

.main-header__user-nav-link-text {
  @media (min-width: $vp-768) {
    @include visually-hidden;
  }
}

.main-header__text {
  display: none;

  @media (min-width: $vp-768) {
    display: block;

    font-size: 15px;
    text-align: right;
    color: $color-charcoal;
  }
}
