.manufacturing {
  @include leveler;
}

.manufactiring__wrapper {
  padding-top: 23px;
  padding-bottom: 33px;

  border: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    position: relative;

    margin-top: 668px;
    padding-top: 36px;
  }
}

.manufacturing__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 13px 25px 34px;

  font-weight: 700;
  font-size: 17px;

  gap: 25px;

  @media (min-width: $vp-768) {
    justify-content: flex-start;
    padding: 0 40px 25px 40px;

    font-size: 20px;

    gap: 35px;
  }

  &::before {
    content: "";

    flex-shrink: 0;
    width: 32px;
    height: 22px;

    background-image: url("../img/stack.svg#video");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.manufacturing__player {
  position: relative;

  margin-bottom: 32px;

  @media (min-width: $vp-768) {
    position: absolute;
    top: -455px;
    left: 0;

    height: 455px;
    margin-bottom: 0;
  }
}

.manufactiring__preview {
  width: 100%;
}

.manufacturing__player-control {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 77px;

  background-color: $color-downy;
  border: 6px solid $color-white;
  border-radius: 20px;
  transform: translate(-50%, -50%);

  transition: opacity 0.3s, transform 0.3s;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 49%;
    left: 54%;

    width: 30px;
    height: 36px;

    background-color: $color-white;
    transform: translate(-50%, -50%);

    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }
}

.manufacturing__text {
  margin: 0 0 41px 0;
  padding: 0 32px;

  font-size: 13px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }
}

.manufacturing__button {
  display: block;
  max-width: 192px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 584px;
    max-width: initial;
  }
}
