.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 24px;
  }
}

.page__page-main {
  flex-grow: 1;
}

.page__hero {
  @media (min-width: $vp-1150) {
    margin-bottom: 72px;
  }

  &--inner {
    margin-bottom: 30px;

    @media (min-width: $vp-768) {
      margin-bottom: 80px;
    }

    @media (min-width: $vp-1150) {
      margin-bottom: 130px;
    }
  }
}

.page__advantages {
  margin-bottom: 58px;

  @media (min-width: $vp-768) {
    margin-bottom: 83px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 90px;
  }
}

.page__contacts {
  margin-bottom: 39px;

  @media (min-width: $vp-768) {
    margin-bottom: 57px;
  }
}

.page__page-footer {
  margin-top: auto;
}
