.page-footer {
  padding-bottom: 3px;

  background-color: $color-white-smoke;
}

.page-footer__container {
  @include leveler;

  @media (min-width: $vp-768) {
    display: grid;
    padding-top: 48px;
    padding-bottom: 58px;

    gap: 20px;
    grid-template-columns: 102px 1fr 180px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
    margin-top: 4px;
  }
}

.page-footer__social {
  margin: 0 auto;

  border-bottom: 1px solid $color-whisper-e5;

  @media (min-width: $vp-768) {
    border: none;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding: 22px 0 22px 0;

  text-decoration: none;

  gap: 27px;

  @media (min-width: $vp-768) {
    margin-top: 5px;
    padding: 0;
  }
}

.page-footer__copyright-text {
  margin-top: 6px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $color-black;
}

.page-footer__copyright-logo {
  flex-shrink: 0;
}
