.page-footer {
  background-color: $color-white-smoke;
}

.page-footer__copyright {
  text-decoration: none;
}

.page-footer__copyright-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $color-black;
}
// .page-footer__container {
//   display: grid;
//   padding: 40px 0;

//   gap: 19px;

//   @media (min-width: $vp-768) {
//     padding: 56px 0 61px 0;

//     gap: 40px;
//     grid-template-columns: 168px 1fr 168px;
//   }

//   @media (min-width: $vp-1300) {
//     padding-top: 63px;
//   }
// }

// .page-footer__logo {
//   position: relative;

//   align-self: start;

//   color: $color-black-special;

//   justify-self: center;

//   @media (min-width: $vp-768) {
//     justify-self: start;
//   }

//   @media (min-width: $vp-1300) {
//     margin-top: 4px;
//   }

//   &:hover .page-footer__logo-img {
//     color: $color-eclipse;
//   }

//   &:active .page-footer__logo-img {
//     color: $color-dim-gray-6b;
//   }
// }

// .page-footer__logo-img {
//   display: block;
//   width: 128px;
//   margin: 0 auto;

//   @media (min-width: $vp-768) {
//     width: 144px;
//     height: 35px;
//     margin: 0;
//   }
// }

// .page-footer__social-wrapper {
//   display: flex;
//   padding: 12px 0;

//   border-top: 1px solid $color-gainsboro;
//   border-bottom: 1px solid $color-gainsboro;

//   @media (min-width: $vp-768) {
//     padding: 0;

//     border: none;
//   }

//   @media (min-width: $vp-1300) {
//     padding-top: 4px;
//   }
// }

// .page-footer__social {
//   position: relative;

//   margin: 0 auto;
// }

// .page-footer__copyright {
//   position: relative;

//   display: flex;
//   flex-wrap: wrap;

//   font-size: 16px;
//   line-height: 19px;
//   font-family: $font-lato;
//   color: $color-charcoal;
//   text-decoration: none;

//   gap: 20px;

//   @media (min-width: $vp-768) {
//     align-self: start;
//   }

//   @media (min-width: $vp-1300) {
//     margin-top: 4px;
//   }

//   &:hover .page-footer__copyright-logo {
//     color: $color-apple;
//   }

//   &:active {
//     opacity: 0.3;
//   }
// }

// .page-footer__copyright-text {
//   max-width: 210px;
//   margin-top: 8px;

//   @media (min-width: $vp-768) {
//     max-width: 116px;
//   }
// }

// .page-footer__copyright-logo {
//   margin-left: auto;

//   color: $color-dim-gray;
// }
