.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 24px;
  }
}

.page__page-main {
  flex-grow: 1;
}

.page__advantages {
  margin-bottom: 58px;

  @media (min-width: $vp-768) {
    margin-bottom: 83px;
  }
}

.page__page-footer {
  margin-top: auto;
}
