.radio-input {
  display: grid;
  align-items: center;

  grid-template-columns: 40px 1fr;

  @media (min-width: $vp-768) {
    grid-template-columns: 50px 1fr;
  }
}

.radio-input__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;

  border: 2px solid $color-charcoal;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $vp-768) {
    width: 50px;
    height: 50px;
  }

  appearance: none;

  &:hover {
    border-color: $color-downy-2;
  }

  &:active {
    border-color: rgba($color-black, 0.3);
  }

  &:disabled {
    border-color: rgba($color-black, 0.3);
    opacity: 0.3;

    pointer-events: none;
  }

  &::after {
    content: "";

    display: none;
    width: 16px;
    height: 16px;

    background-color: $color-downy-2;
    border-radius: 50%;

    @media (min-width: $vp-768) {
      width: 20px;
      height: 20px;
    }
  }
}

.radio-input__input:checked::after {
  display: block;
}

.radio-input__text {
  padding: 3px 0 0 19px;

  cursor: pointer;

  @media (min-width: $vp-768) {
    padding: 0 0 0 27px;
    font-size: 19px;
    line-height: 30px;
  }
}

.radio-input__input:disabled + .radio-input__text {
  cursor: default;
  opacity: 0.3;
}
