.review {
  padding-bottom: 51px;
  background-image: url("../img/stack.svg#zigzag-line");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 320px 6px;
}

.review__wrapper {
  @include leveler;
}

.review__title {
  margin: 0 0 14px 0;

  @include subtitle;
}
