.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px 0 20px 0;

  list-style-type: none;

  gap: 15px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  &::before {
    content: "";

    display: block;
    width: 28px;
    height: 22px;

    background-color: $color-aubergine;

    mask-position: center;
    mask-repeat: no-repeat;
  }
}

.social__link--vk::before {
  mask-image: url("../img/stack.svg#vkontakte");
}

.social__link--youtube::before {
  mask-image: url("../img/stack.svg#youtube");
}

.social__link--telegram::before {
  mask-image: url("../img/stack.svg#telegram");
}

.social__link:hover::before {
  background-color: $color-puerto-rico-2;
}
