// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-downy:              #63d1bb;
$color-puerto-rico:        #56c3b2;
$color-downy-2:            #62d1ba;
$color-puerto-rico-2:      #46c1ae;
$color-aubergine:          #231f20;
$color-whisper:            #ececec;
$color-whisper-e5:         #e5e5e5;
$color-silver:             #c6c6c6;
$color-charcoal:           #444444;
$color-white-smoke:        #f1f1f1;

// Viewports
$vp-768:                     768px;
$vp-1150:                    1150px;

//Fonts
$ff-open-sans:              "Open Sans", "Arial", sans-serif;
