// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-downy:              #63d1bb;
$color-aubergine:          #231f20;
$color-whisper:            #ececec;
$color-whisper-e5:         #e5e5e5;

// Viewports
$vp-768:                     768px;
$vp-1150:                    1150px;

//Fonts
$ff-open-sans:              "Open Sans", "Arial", sans-serif;
