// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-downy:              #63d1bb;

// Viewports
$vp-768:                     768px;
$vp-1300:                    1150px;

//Fonts
$ff-open-sans:              "Open Sans", "Arial", sans-serif;
